{% extends "base.html" %}

{% block title %}Host an Event- GameParty{% endblock %}

{% block bodyheader %}
<header id="header" class="margin-top"><!--a margin top, because fixed top overlaps the header2 "Login" in the block bodysection-->
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{{ url_for('index') }}">GameParty</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
        <li><a class="nav-link active" href="{{ url_for('hostEvent') }}">Host An Event</a></li>
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block bodysection %}
<!-- ======= Host Event Section (Contact Section on template) ======= -->

{% if current_user.isStore %}

<section id="contact" class="contact">
	<div class="container" data-aos="fade-up">
		<div class=" section-title">
			<h2>Host an Event</h2>
			<p>Setup the Game Board for Everyone!</p>
		</div>
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col">
				<div class="card card-registration my-4">
					<div class="row g-0">
						<div class="col-xl-6 d-none d-xl-block">
							<!--A photo needs to be 1280x1920 or bigger (preferably "Tall" photos) to make it a good fit for the register page. Even so, some photos that meet the size requirements may still not be good fits- it just depends.-->
							<img src="https://lh3.googleusercontent.com/2UZ-vU7l22vDDYT-YkLrmk2ajqOEq1rCnrB2cpEGyqNwuV2WmEp39H2qjcmsUiQ-ynBkKHq5jMqmRPEpIcupWj6DwHzCmsB4t8_OcoXjNGZZIW1Fi2NK_JEYC13Q3zrdRg1D-cJS=w2400"alt="Sample photo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
						</div>
						<div class="col-xl-6">
							<div class="card-body p-md-5 text-black">
								<h3 class="mb-5 text-uppercase">Host-An-Event Form</h3>
								<div>
									{{ wtf.quick_form(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% else %}

<meta http-equiv="refresh" content="0; url='{{ url_for('error401') }}'"/>

{% endif %}

<!-- End Host Event Section-->
{% endblock %}