{% extends "base.html" %}

{% block title %}Home- GameParty{% endblock %}


{% block bodyheader %}
<header id="headerHome" class="fixed-top"><!--a fixed top so that the navbar does not disappear upon scroll down-->
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{{ url_for('index') }}">GameParty</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link active" href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.isStore %}
        <li><a class="nav-link" href="{{ url_for('hostEvent') }}">Host An Event</a></li>
        {% else %}
        {% endif %}
        {% if current_user.isPersonalProfile %}
        <li><a class="nav-link" href="{{ url_for('joinEvent') }}">Join An Event</a></li>
        {% else %}
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
{% endblock %}

{% block bodysection %}
<!-- ======= Homepage section (Hero section on template) ======= -->
<section id="hero">
	<div class="hero-container" data-aos="fade-up" data-aos-delay="150">
		<h1>Connect. Meet. Game.</h1>
		<h2>Register, host or join a hosted event, and game with those in your community.</h2>
		<div class="d-flex">
			<a href="{{ url_for('register') }}" class="btn-get-started scrollto">Register</a>
		</div>
	</div>
</section>
<!-- End of Homepage Section -->

{% endblock %}