{% extends "base.html" %}
{% block title %}profile- GameParty{% endblock %}
{% block bodyheader %}
<!-- .navbar -->
<!--
  change register button to "sign out button"
-->
<header id="header" class="margin-top"><!--a margin top, because fixed top overlaps the header2 "Login" in the block bodysection-->
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo">GameParty</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.isStore %}
        <li><a class="nav-link" href="{{ url_for('hostEvent') }}">Host An Event</a></li>
        {% else %}
        {% endif %}
        {% if current_user.isPersonalProfile %}
        <li><a class="nav-link" href="#">Join An Event</a></li>
        {% else %}
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>
  {% endblock %}

          <!-- *****body -->
          <!--
            to do list
            set photo path
            set name path
            set Bio
            remove "start live stream button"
            change side column information
          -->
  {% block bodysection %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-content">

          <body>
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="assets/images/profile.jpg" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
                      <span>Offline</span>
                      <h4>{{current_user.username}}</h4>
                      <p>{{current_user.Bio}}</p>
                      <div class="main-border-button">
                        <a href="#">Ready to Play?</a> <!--link to event search page when ready-->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Games<span>NA</span></li>  <!--link to games user plays when ready-->
                      <li>Friends<span>NA</span></li><!--link to friends list when ready-->
                      <li>Stores<span>NA</span></li> <!--link to stores visited when ready-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Games Library-->
          <!--
            turn into events list.
            set event name
            event date
            hoursToLocation
            Placing
            turn download to event link.
          -->
          <div class="gaming-library profile-library">
            <div class="col-lg-12">
              <div class="heading-section">
                <h4>Events</h4>
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Magic Tourniment</h4><span>Card Game</span></li>
                  <li><h4>Date</h4><span>24/08/2036</span></li>
                  <li><h4>Length</h4><span>6 hours</span></li>
                  <li><h4>Placing</h4><span>15/24</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Check it out</a></div></li>
                </ul>
              </div>
              <div class="item">
                <ul>
                  <li><img src="assets/images/game-02.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Game Night</h4><span>Varries</span></li>
                  <li><h4>Date</h4><span>22/06/2036</span></li>
                  <li><h4>Length</h4><span>Varries</span></li>
                  <li><h4>Placing</h4><span>NA</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Check it out</a></div></li>
                </ul>
              </div>
              <div class="item last-item">
                <ul>
                  <li><img src="assets/images/game-03.jpg" alt="" class="templatemo-item"></li>
                  <li><h4>Bash Cup 92</h4><span>Skirmish game</span></li>
                  <li><h4>Date </h4><span>21/04/2022-22/05/2022</span></li>
                  <li><h4>Length</h4><span>(5)2hr15min rounds</span></li>
                  <li><h4>Placing</h4><span>19/24</span></li>
                  <li><div class="main-border-button border-no-active"><a href="#">Check it out</a></div></li>
                </ul>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
          </body>
  <!--Body-->
  {% endblock %}

  
