{% extends "base.html" %}

{% block title %}Register- GameParty{% endblock %}

{% block bodyheader %}
<header id="header" class="margin-top"><!--a margin top, because fixed top overlaps the header2 "Register" in the block bodysection-->
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{{ url_for('index') }}">GameParty</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
        {% if current_user.isStore %}
        <li><a class="nav-link" href="{{ url_for('hostEvent') }}">Host An Event</a></li>
        {% else %}
        {% endif %}
        {% if current_user.isPersonalProfile %}
        <li><a class="nav-link" href="{{ url_for('joinEvent') }}">Join An Event</a></li>
        {% else %}
        {% endif %}
        {% if current_user.is_authenticated %}
        <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a class="getstarted" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block bodysection %}
<!-- ======= Register Section (Contact Section on template) ======= -->
<section id="contact" class="contact">
	<div class="container" data-aos="fade-up">
		<div class=" section-title">
			<h2>Register</h2>
			<p>Join Our Party Invite!</p>
		</div>
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col">
				<div class="card card-registration my-4">
					<div class="row g-0">
						<div class="col-xl-6 d-none d-xl-block">
							<!--A photo needs to be 1280x1920 or bigger (preferably "Tall" photos) to make it a good fit for the register page. Even so, some photos that meet the size requirements may still not be good fits- it just depends.-->
							<img src="https://lh3.googleusercontent.com/aDeJiRFDWk1QOKmqHETaKya8Hr_m-7TPlvO21LH9X-TXGI1kG9gBux6Z5yAYnzukYn02LlloO3RG9FdGzDSdaqWwBvctxXuEZKOIGT5eiLkJ2yUsQ20ZdAKajJMvbFFoM-5VzuII=w2400"alt="Sample photo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
						</div>
						<div class="col-xl-6">
							<div class="card-body p-md-5 text-black">
								<h3 class="mb-5 text-uppercase">Registration Form</h3>
								<div>
									{{ wtf.quick_form(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Register Section-->
{% endblock %}